.hoverZoom{
    transition: transform .2s !important;
}

.hoverZoom:hover{
    transform: scale(1.04);
}

/* .imgToFullScreen{
    width: 20px;
} */

.roundedImage{
    border-radius: 2%;
    outline: 2px solid rgba(62, 193, 188, 1);
}

.notExpanded{
    height: 60;
}

.expanded{
    height: 128;
    overflow: 'hidden'
}