.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  min-width: 300px;
  width: 300px;
  height: 200px;
  max-width: 100%;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.5, 0, 0, 1);
  margin: 30px;
  box-sizing: border-box;
}

.card:hover {
  transform: scale(1.2);
  height: 350px;
  box-shadow: 0px 0px 2px 2px  rgb(255, 193, 4);
}

.card:hover .cardParagraphContainer {
  height: 350px;
}

.card:hover .cardImage {
  height: 0px;
}
.cardParagraphContainer{
  background-color: white;
  height: 0px;
  transition: height 0.5s cubic-bezier(0.5, 0, 0, 1);
  margin: 0px;
  padding: 0px;
}

.cardParagraph {
  padding: 10px;
  margin: 0px;
}

.cardHeading {
  padding: 10px;
  margin: 0px;
}

.cardImage {
  width: 300px;
  display: block;
  height: 200px;
  transition: height 0.5s cubic-bezier(0.5, 0, 0, 1);
}