.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  min-width: 300px;
  width: 300px;
  max-width: 100%;
 /* aspect-ratio: 16/11;*/
  overflow: hidden;
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
  margin: 30px;
}

.card:hover {
  /*aspect-ratio: auto*/
  transform: scale(1.2);
}

.card:hover .cardParagraphContainer {
  height: 350px;
  /*max-height: 200px;*/
}

.card:hover .cardImage {
  height: 0px;
}
.cardParagraphContainer{
  background-color: white;
  height: 0px;
  transition: height 0.5s cubic-bezier(0.5, 0, 0, 1);
  margin: 0px;
  padding: 0px;
  /*background-size: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 0px 0px 10px 10px;
  width: 60vh;
  max-width: 100%;
  aspect-ratio: 16/11;*/
}

.cardParagraph {
  padding: 10px;
  margin: 0px;
}

.cardHeading {
  padding: 10px;
  margin: 0px;
}

.cardImage {
  width: 300px;
  display: block;
  height: 200px;
  transition: height 0.5s cubic-bezier(0.5, 0, 0, 1);
  /*aspect-ratio: 16/11;*/
}