body {
  /*background-image: url(./images/gallery/IMG_03.jpg);*/
  background: 
    /* linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), */
    /* url(./images/gallery/IMG_03.jpg) */

    url(./images/background/New/abstract-black-texture-background-hexagon/sep09.jpg)
    /* url(./images/background/New/abstract-hexagon-with-white-background/883.jpg) */
    /* url(./images/background/New/black-background-with-diagonal-stripes/9313.jpg) */
    /* url(./images/background/New/black-carbon-fiber-texture-background/23627.jpg) */
    /* url(./images/background/New/dark-minimal-hexagons-background/5137843.jpg) */
    /* url(./images/background/New/dark-hexagonal-background-with-gradient-color/5053309.jpg) */
    /* url(./images/background/New/dark-technology-hexagonal-background/hexa_dan_wave_10.jpg) */
    /* url(./images/background/New/flat-polygonal-background/5229178.jpg) */
    /* url(./images/background/New/gradient-hexagonal-background/5293464.jpg) */
    /* url(./images/background/New/grunge-texture-background-with-hexagonal-pattern.jpg) */
    /* url(./images/background/New/hazy-black-ink-texture-with-brushstrokes/Hazy_black_ink_texture_with_brushstrokes.jpg) */
    /* url(./images/background/New/hex-backgrounds-networking.jpg) */

    /* url(./images/background/Black_honeycomb_with_blue_lights/Watermark_nelkuli2.jpg) */


    /* linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
    url(./images/background/abstract-black-texture-background-hexagon/sep09.jpg) */
    no-repeat
    center
    center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menuButton{
  width: 20px;
  margin: 20px !important
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a{
  text-decoration: none;
  color: white;
}

.appbar {
  position:static;
  background-color:'#1f2d30';
}

.headerTextSize{
  /* font-size: 1.5rem; */
  text-align: justify;
  display: flex;
  align-items: center;
}

.contactIcons:hover{
  cursor: pointer;
}

.hideContactString{
  display: none;
}

.showContactString{
  display: block;
}